<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>Spotify party</title>
</head>
<body>
    <main>
        <div id="login-button">
<!--            <a href="https://accounts.spotify.com/authorize?client_id=236ddec44daf4e6b9a11ba10935f8117&redirect_uri=http://localhost:3000/&scope=streaming%20user-read-private%20user-read-email%20user-modify-playback-state%20playlist-modify-private%20playlist-modify-public%20user-read-playback-state&response_type=token&show_dialog=true"><button id="button">Spotify login</button></a>-->
        <a href="https://accounts.spotify.com/authorize?client_id=236ddec44daf4e6b9a11ba10935f8117&redirect_uri=https://chat-spotify.herokuapp.com/&scope=streaming%20user-read-private%20user-read-email%20user-modify-playback-state%20playlist-modify-private%20playlist-modify-public%20user-read-playback-state&response_type=token&show_dialog=true"><button>Spotify</button></a>
        </div>
        <div id="search-bar">
            <input id="search-value" type="text" placeholder="  song...">
            <button id="search-button" style="margin-left: 2px; margin-right: 2px">search</button>
        </div>
        <div id="search-results">
            <div id="results"></div>
        </div>
        <div id="songs">
            <div id="queued"></div>
        </div>

        <div id="comments">
            <div id="naming_zone">
                <input id="username" type="text">
                <button id="send_username" type="submit">add username</button>
            </div>
            <div id="messages"></div>
            <div id="input_zone">
                <input id="message" type="text">
                <button id="send_message" type="submit">send</button>
            </div>
        </div>

    </main>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script type="module" src="main.js"></script>
</body>
</html>