* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    padding: 10px;
    margin: 0;
}

html {
    background-image: url('/images/party.jpg');
    background: rgb(41,40,46);
    background: linear-gradient(360deg, rgba(41,40,46,1) 26%, rgba(85,163,45,1) 76%);
}

main {
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 100px);
}

main > div {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    font-size: 2em;
}

#login-button > * {
    position: fixed;
}

#login-button > button,a {
    top: 2.35cm;
}

#search-bar{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#search-bar > * {
    position: fixed;
}

#search-bar > input {
    border-radius: 5px;
    top: 2.71cm;
    left: 0.53cm;
    width: 5cm;
}

#search-bar > button {
    top: 2.71cm;
    left: 5.48cm;
}

#login-button{
    align-items: center;
    grid-column: 2 / 3;
}

#button {
    position: fixed;
    border-radius: 25px;
    background-color: green;
    border: 0;
    width: 3cm;
    height: 1cm;
    font-size: medium;
    top: 2.2cm;
}


#search-results {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    background-color: black;
    box-shadow: 2px 2px 5px black;
}

#results {
    margin: 5px 0 5px 0;
    padding: 0;
}

#results > div{
    display: flex;
    margin: 2px;
    font-size: x-large;
    background-color: cadetblue;
    width: 100%;
    height: 85px;
}

#results > div > img {
    margin: 1%;
}

#songs {
    grid-row: 2 / 7;
    position: relative;
    background-color: black;
    box-shadow: 2px 2px 5px black;
    padding: 1cm;
}

#songs > img{
    /*display: flex;
    margin-left: 5px;
    font-size: x-large;
    background-color: antiquewhite;*/
    width: 500px;
    height: 500px;
    box-shadow: 3px 3px 5px white;
}

#queued {
    position: fixed;
    margin: 0;
    background-color: white;
    width: 3cm;
    height: 1cm;
    border: white solid 1px;
    right: 1cm;
}

#comments {
    grid-row: 5 / 7;
    display: grid;
    grid-template-rows: 0.6cm 5.4cm 0.4cm;
}

#naming_zone {
    grid-row: 1;
}

#naming_zone > * {
    position: fixed;
}

#naming_zone > input {
    left: 0.55cm;
    width: 5cm;
}

#naming_zone > button {
    left: 5.55cm;
}
#input_zone {
    grid-row: 3;
}

#input_zone > * {
    position: fixed;
    bottom: 0.54cm;
}

#input_zone > input {
    margin-left: 0;
    height: 1cm;
    width: 17.7cm;
}

#input_zone > button {
    margin-right: 0;
    width: 2.05cm;
    height: 1cm;
    left: 18.21cm;
}

/*container voor berichten*/
#messages {
    grid-row: 2;
    overflow-x: auto;
    background-color: black;
    box-shadow: 2px 2px 5px black;
}

/*individueel bericht*/
.message {
    margin: 0px;
    width: 100%;
    height: 40px;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 1vh;
}

.message:nth-child(even) {
    background-color: #81DAF5;
}

.message:nth-child(odd) {
    background-color: #81BEF7;
}